*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 1rem;
    color: black;
}
#titleContainer{
    background-color: rgb(244, 213, 183);
}
.containerMain{
    display: flex;
}
#containerAgregar{
    background-color: rgb(212, 208, 204);
    border: solid 2px black;
  
}
#tituloAgregar{
    text-align: center;
}
#containerBorrar{
    background-color: rgb(212, 208, 204);
    border: solid 2px black;

}
#tituloQuitar{
    text-align: center;

}
#tituloBuscar{
    text-align: center;
}
#containerBuscar{
    background-color: rgb(212, 208, 204);
    border: solid 2px black;

}
#containerMostrar{
    background-color: rgb(212, 208, 204);
    border: solid 2px black;
}